[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/joeycarter/para-minimal.git
